name: gptme-bot

on:
  issue_comment:
    types: [created]

permissions: write-all

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      # needed to run the action in the same repo
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run gptme-bot action
        uses: ./.github/actions/bot
        with:
          model: 'anthropic/claude-sonnet-4-6'
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          allowlist: "ErikBjare"
